.head {
    background-color: bisque;
    width: auto;
}

.section-1 {
    background-color:rgb(183, 243, 223);
    width: auto;
}

.footer {
    background-color:darkgreen;
    width: auto;
    height: 10em;
    color: white;
}
