.head {
    background-color: bisque;
   width: auto;
}

.links {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.section-1 {
    width: auto;
    text-align: center;
}

.img-logo-ifes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color:darkgreen;
    width: auto;
    height: 10em;
    color: white;
}
